p {
  margin: 5px;
}

.lista_asistentes {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.registro_asistente {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  padding: 10px;
  border: 1px solid var(--color_principal);
  border-radius: 25px;
}
