.lista_talleres {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, max-content));
  gap: 25px;
  padding-left: 45px;
}

.taller_registro {
  display: flex;
  width: 415px;
  height: 300px;
}

.info_taller {
  width: 255px;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--color_principal);
  border-radius: 25px;
}

.boton_taller {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border-radius: 25px;
  background-color: var(--color_principal);
  color: var(--color_fondo);
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.boton_taller:hover {
  background-color: var(--color_secundario);
}

.boton_taller p {
  margin: 0;
  user-select: none;
}

.boton_taller i {
  font-size: 20px;
  user-select: none;
}

.opciones_taller {
  width: 0px;
  height: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  border-radius: 0 25px 25px 0;
}

/* @media (max-width: 611px) {
  .taller_registro {
    flex-direction: column;
  }
} */
