main {
  position: relative;
  display: flex;
  flex-direction: center;
  align-items: center;
  padding: 25px;
}

.btn_regresar {
  text-decoration: none;
}

.form_inscripcion {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin: auto;
  padding: 25px;
}

.campo_formulario {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.etiqueta_form {
  width: 50%;
}

.input_form {
  width: 50%;
  padding: 10px;
  border: 2px solid var(--color_principal);
  border-radius: 15px;
  outline: 0;
  transition: border-color 0.2s ease-in;
}

.input_form:focus {
  border-color: var(--color_secundario);
}

.btn_submit {
  padding: 13px 50px;
  outline: 0;
  border: none;
  border-radius: 25px;
  background-color: var(--color_principal);
  color: var(--color_fondo);
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.btn_submit:hover {
  background-color: var(--color_secundario);
}