main {
  display: flex;
  flex-grow: 1;
}

.navbar {
  /* 601px */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 33px;
  padding: 10px;
  box-sizing: content-box;
  border-right: 1px solid var(--color_principal);
  white-space: nowrap;
  transition: width 0.2s linear;
}

.navbar_item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 7px 0;
  padding-left: 7.5px;
  border-radius: 25px;
  color: var(--color_principal);
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.navbar_item i {
  font-size: 18px;
}

.navbar_item p {
  margin: 0;
}

.navbar_item:hover {
  background-color: var(--color_principal);
  color: var(--color_fondo);
}

.expandir_navbar {
  position: absolute;
  top: 0;
  right: -33px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 24px;
  background-color: var(--color_fondo);
  color: var(--color_principal);
  border: none;
  border-right: 1px solid var(--color_principal);
  border-bottom: 1px solid var(--color_principal);
  border-end-end-radius: 15px;
  cursor: pointer;
}

.contenido_menu {
  flex-grow: 1;
}

.opcion_seleccionada {
  background-color: var(--color_principal);
  color: var(--color_fondo);
}
