.contenedor_asistencias {
  width: 100%;
  height: 100%;
  display: flex;
}

.scanner_qr {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid var(--color_principal);
  border-radius: 25px 0 0 25px;
}

#cont_qr_video {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  min-width: 100px;
  overflow: hidden;
}

.scan-region-highlight {
  border-radius: 25px;
  outline: rgba(0, 0, 0, 0.25) solid 50vmax;
}

.scan-region-highlight-svg {
  display: none;
}

.code-outline-highlight {
  stroke: var(--color_principal) !important;
  /* stroke: rgba(255, 255, 255, 0.5) !important;
  stroke-width: 15 !important;
  stroke-dasharray: none !important; */
}

#qr_video {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color_principal);
  border-radius: 20px;
}

.cont_botones {
  display: flex;
  gap: 50px;
}

.boton {
  width: 100px;
  height: 40px;
  background-color: var(--color_principal);
  color: var(--color_fondo);
  border-radius: 25px;
  border: 0;
  outline: 0;
  transition: background-color 0.3s ease-out;
}

.boton:hover {
  background-color: var(--color_secundario);
}

.boton:disabled {
  border: 1px solid var(--color_principal);
  background-color: var(--color_fondo);
  color: var(--color_principal);
  cursor: not-allowed;
}

.boton:focus {
  border: none;
  outline: 0;
}

.cont_form_asistencias {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-top: 25px;
  box-sizing: border-box;
  border: 2px solid var(--color_principal);
  border-left: none;
  border-radius: 0 25px 25px 0;
}

.form_asistencias {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.campo_formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.etiqueta_form {
  margin: 0;
}

.input_form {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--color_principal);
  border-radius: 15px;
  outline: 0;
  transition: border-color 0.2s ease-in;
}

.input_form:focus {
  border-color: var(--color_secundario);
}

.btn_submit {
  width: fit-content;
  margin-top: 25px;
  padding: 13px 50px;
  outline: 0;
  border: none;
  border-radius: 25px;
  background-color: var(--color_principal);
  color: var(--color_fondo);
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.btn_submit:hover {
  background-color: var(--color_secundario);
}
