@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Oswald&display=swap");

:root {
  --color_principal: #d43b69;
  --color_secundario: #b121ff;
  --color_fondo: #ffffff;
  --color_texto: #000000;
}

html {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Fira Sans", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 9;
}

.titulos {
  margin: 0;
  font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.enlaces {
  color: var(--color_principal);
  text-decoration: none;
}

.enlaces:hover {
  color: var(--color_secundario);
  text-decoration: underline;
}

.breadcrumb {
  background-color: var(--color_fondo);
}
